:root{
--primary-text-color:#434455;
--title-text--color:#2E2F42;
--ocean: #404bbf;
--beckground-color:#E5E5E5;
--button-text-color:#FFFFFF;
--beckground-color-sektion-team:#F4F4FD;
--accent-color:#4D5AE5;
}



body {
    font-family: Roboto, sans-serif;
    background: var(--button-text-color);
    color:var(--primary-text-color);

}
p.h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    }

ul {
    list-style:none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*вторичний цвет color: #434455;  */
/*  белий текст кнопок   color: #FFFFFF; */
/*    кнопка background:  */
/*цвет заголовков  color: #2E2F42; */
/*  */
 p {
    margin: 0;
 }



/* ------------Лого --------------*/
.heder {
    border-bottom: 1px solid #e7e9fc ;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
         margin-left: 0 auto; 
}
.heder-container {
     display: flex;
     justify-content: space-between;
     padding: 0 15px 0 15px;
}
.heder-nav {
    display:flex; 
    align-items: center; 
    flex-grow: 1; 
}

.logo-nav {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--ocean);
    text-transform:uppercase;
    padding: 24px 0; 
 margin-right: 76px; 
    
}
.logo-heder-span{
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight:800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;


}
.menu-title {
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    font-weight: 500;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
        color: var(--title-text--color);
 }
.heder-address {
    list-style: none;
}

.list {
    list-style: none;
} 
.link {
    text-decoration: none;
}
 .heder-container {
    display: flex; 
    align-items: center;
}

 .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right:  16px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    justify-content: space-between;
     /* outline: 2px solid red;  */

} 
/*   Навигация -----------*/
.site-nav {
    display: none;
    
}
.site-nav .link {
       
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -22px;
    left: 0;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color:var(--ocean) ;
}

.current {
    color:var(--ocean);
}

.site-nav .link:hover,
.site-nav .link:focus{
   color: var(--ocean);
}
/* ------- Адрес----------  */
.heder-address {
    font-style: normal;
    display: none;
}
.site-address-link {
    display: flex;
}
.site-address {
     color: var(--primary-text-color);
    /* display: flex; */
    align-items: center;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        gap: 40px;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.site-address .link:hover,
.site-address .link:focus {
    color: var(--ocean); 
}
/* ---------Мобильное меню----------- */
.open-menu-btn {
    min-height: 22px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    margin-bottom: 24px;
    margin-top: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.mob-menu.is-open {
    transform: translateX(0);
  } 
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    background-color: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
flex-direction: column;
justify-content: space-between;
overflow: auto; 
  }

.close-menu-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #e7e9fc ;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav {
    display: block;
}
.icon-mob-menu {
    fill:currentColor;  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
 
.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px; 
  
}
.mob-menu-item:not(:last-child) {

}
.mob-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-decoration: none;
}
.mob-menu-item {
    
}
.mob-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--title-text--color);
    text-decoration: none;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
    color:var(--ocean);
}
.mob-address {

}
.mob-menu-address {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 48px;
}
.mob-menu-address-mailto {
    font-size: 20px;
font-weight: 500;
letter-spacing: 0.4px;
color: #434455;

}
.mob-menu-address-tel {
    font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
color: var(--accent-color);
}
.mob-menu-nav-address {
   
}

/* -------Иконки мобильного меню-------- */
.mob-item-icon {
    display: flex;
   justify-content: space-around;
}
.mob-icon-list {
    
}
.mob-sending {
    
    background-color: var(--accent-color);
    border-radius: 50%;
    padding: 8px 8px;
    display: flex;
    align-items: center;
}
.mob-sending:hover, 
.mob-sending:focus {
    background-color: var(--ocean);
    border: none;
}  
.mob-svg-icon-soc {  
    fill: #F4F4FD;
    
}
/* ------ Секция герой ------------ */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 0 auto;
}
.hiro-container {
     /* height: 80px;   */
}
.hiro-section {
   gap: 72px;
   min-width: 320px;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
   url(../images/dark-mob-1x.jpg) ;
   background-repeat:no-repeat ;
   background-size:cover;
   margin-left: auto; 
   margin-right:auto;
   background-position: center;
   padding-top: 42px;
   padding-bottom: 112px; 
} 
@media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) { 
    .hiro-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/dark-mob-2x.jpg) ;
        background-repeat:no-repeat ;
        background-size:cover;
    }  
}
.hiro-title {
    display:flex;
    color:var(--button-text-color);
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center;
    margin: 72px;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    height: 80px; 
}

/* -------Кнопка герой--------- */
.button {
    padding: 16px 32px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: var(--button-text-color);
    background-color: var(--accent-color); 
    border: none;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    display:block;
    margin: 0 auto; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover
{
    color:var(--button-text-color);
    background: var(--ocean);
}
.button:focus {
    color: var(--button-text-color);
    background: var(--ocean);
}
/*  -----------  Наши роботи ----------*/
.business {

}
.business-container {
    display: flex;  
}
.business-item-icon {
    
}
.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    
}
.business-item-blok {
    text-align: center;
    display: flex; 
    display: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
    background: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;  
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.business-item-blok:hover,
.business-item-blok:focus {
    border-radius: 4px;
    fill: var(--ocean); 
    width: 264px;
    height: 112px;
    background:#F4F4FD;
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 

.business-info {
    display: flex;
    gap: 72px;
    padding-top: 120px;
    margin-bottom: 8px;
    list-style-type: none;
    flex-wrap: wrap; 
} 
.business-item {
    width: 100%;
    position: relative;

}
.section-title {
    color: #2E2F42;
    text-decoration: none;
    text-align: center ; 
     margin-bottom: 8px; 
    font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
 text-transform: capitalize;
}
/* ---------Чим ми займаемся-------- */
.section-doing {
    display: none;
}
.doing  {
    display: flex;
     gap: 24px;
}
.doing-item {
    width: calc((100% - 48px) / 3);
}

.headlines-title {
    color: var(--title-text--color);
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    padding-top: 120px;
    margin-bottom: 72px; 

}
.item-list {
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
}
   /* -----------   Наша команда  -------------*/

.section-color {
    background-color: #F4F4FD;
    background: #FFFFFF;

}
.container-comand {
    
}
img {
    margin: 0 auto;}
.comand-title {
    padding: 32px 0;
    
}

.comand-section-title {
    color: var(--title-text--color);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 8px;
    justify-content: center;
}
.team-list {
    display: flex;
    gap: 72px;
    justify-content: center;
    flex-wrap: wrap;
}
.item-list {
    display: block;
    margin: 0 auto;
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        width: 100%;
    position: relative;
}
/*--------- иконки секции наша команда---------- */
.item-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}
.item-icon-list {
    height: 40px;
    width: 40px;
    
}
.item-list {

}

.sending {
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    padding: 8px;
    display: flex; 
    text-align: center;
    justify-content: center; 
    align-items: center;
    border: 1px solid var(--accent-color); 
    background-color: var(--accent-color);  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sending:hover, 
.sending:focus {
    background-color: var(--ocean);
    border: none;
}  
.item-icon-soc 
 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -----------секция costomers------- */
.customers {
padding-bottom: 96px;
}

.customers-ikon {
    fill: currentColor; 
}
.customers-list {
    flex-wrap: wrap;
    display: flex; 
    gap: 72px 16px; 
    justify-content: center;
}
.customers-ikon-item {
}
.customers-ikon-link{
    height: 100%;
    width: 100%; 
    border: 1px solid #8e8f99;
    border-radius:4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#8e8f99;
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.customers-ikon-link:hover {
    border-color: var(--ocean);
    color: var(--ocean);
}
.customers-ikon-link:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}
.customers-item {
    width: 190px;
    height: 88px;  
    max-width: unset; 
    width:calc((100% - 16px) / 2 ); 
}

     /*---------Страница портфолио -----------*/
 .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
 }
 .portfolio-cover-block {
   position: relative;
   overflow: hidden;
   color: var(--ocean);
 }
 .portfolio-cover-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background: var(--akcent-color);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.portfolio-title {
    color: var(--primary-text-color); 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
}
.portfolio-text {
    color: var(--title-text--color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.2 ;
    font-style: normal;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-item  {
    width: calc((100% - 48px) / 3); 
    position: relative; 
   
}
.portfolio-img {
    display: block;
    transition:box-shadow 250ms cubic-bezier(0.4, 0.2, 1);
}
.portfolio-img:is(:hover,:focus){
    background-color: #FFFFFF;
    border: 1px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img:is(:hover,:focus) .portfolio-cover-text
{
    transform: translateY(0%);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap:28px 24px;
    row-gap: 48px;
}
.portfolio-spec {
    padding: 32px 16px 164px 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* -----------Кнопка портфолио----------- */
.button-item {
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portf {
    cursor: pointer;
    color:var(--accent-color);
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    border: none;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portf:hover,
.button-portf:focus {
    color: var(--button-text-color);
    background-color: var(--ocean);
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-img {
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
    list-style: none; 
}
.portfolio-item {
    list-style: none;
    width: calc((100% - 24 * 8) / 9);
}

/* ---------   Футер-------------*/
.footer-div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 72px;
    width: 100%; 

    padding-left: 16px;
    padding-right:  16px; 

}
.footer-top {
  
}
.footer-color {
    background: var(--title-text--color);
    padding-top: 97.5px;
    padding-bottom: 96px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--ocean);
    text-transform:uppercase;
    /* padding: 24px 0; */
    margin-right: 76px; 
}
.footer-logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03 ;
    text-transform: uppercase ;
    display: inline-block;
    margin-bottom: 16px;

}
.footer-title {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height:1.5 ;
    letter-spacing: 0.02em;
    max-width:268px;
    margin-bottom: 16px; 
    height: 72px;
    
}
.footer-social {
  
}
.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.footer-social-paragraph {
    display: flex; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px; 
    justify-content: center;
    width: 100%;
}
.footer-social-list {
    width:40px ;
    height: 40px;
}
.footer-social-link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:var(--accent-color) ;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin-bottom: 16px;
    border: 1px solid var(--accent-color);
}
 .footer-social-link:hover,
 .footer-social-link:focus {
    border: none; 
    background-color: #31d0aa;}

.footer-social-svg {
    fill: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.footer-imput-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 
.footer-from {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
      min-width: 288px; 
     max-width: 396px; 
    width: 100%;
}
.footer-input {
     font-size: 12px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
     padding:8px 16px; 
     margin-right: 24px; 
    line-height: 1.5;
    letter-spacing: 0.04em; 
    padding-left: 16px; 
    
}
.footer-btn {
     display: flex; 
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--accent-color);
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    cursor: pointer;
    align-items:center;
    /* gap: 16px; */
    min-width: 165px;
   
            
}
.footer-btn-icon {
    fill:  #FFFFFF;
    margin-left: 16px; 

}
.footer-label {
    width: 100%;
    
}
.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff; 

}    
.title-comment {
     font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: center; 
    width: 100%; 
   
 }
/* --------------------------- */
.beckdrop {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    max-width: 408px; 
    width: calc(100% - 36px) ;
    min-height: 584px;
    top: 50%;
    left: 50%; 
    
    transform: translate(-50%, -50%) scaleY(1);
    transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px 
    rgba(0, 0, 0, 0.12),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    padding: 72px 24px 24px 24px; 
}
.beckdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scaleY(0);
}
.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height:24px;
    border-radius: 50%;
    cursor: pointer;
    
}
.svg-button {
   fill:currentColor; 
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean);
    border: none;
    color:  #FFFFFF; 
}

.is-hidden {
    pointer-events: none; 
    opacity:0;
    visibility: hidden;  
}
 .modal-title {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text--color);
 }
 
 textarea {
    resize: none;
 }
 
 .modal-field {
    position: relative; 
    margin-bottom: 8px; 
 }
 .modal-policy {
    margin-bottom: 24px; 
 }
 .modal-coment {
    margin-bottom: 16px;
 }
  .modal-imput {
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    margin-bottom: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-size: 12px;
    line-height: 1.16em;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 } 
 
 .input-ikon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-imput:focus {
    border-color: var(--accent-color);

 }
 .modal-imput::placeholder {
    font-size: 12px;
    line-height: 1.16em;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
 }
 .form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    display: block;
    letter-spacing: 0.04em;
    color:#8e8f99; 
    margin-bottom: 4px;
 }
 .imput-svg {
    position: relative;
    margin-bottom: 16px;

 }
 .modal-imput:focus + .input-ikon {
    fill: var(--accent-color);
 }
 .modal-textarea {
    width: 100%;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    margin-bottom: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    padding-left: 38px;
    padding: 8px 16px;
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    resize: none;
 }
 .modal-textarea:focus{
    border-color: var(--accent-color); 
 }
 .check-text {
    margin-top: 16px;
    align-items: center;
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
 }
 .check-text span {
    display: inline-flex; 
    width: 16px;
    height: 16px;
    border: 1px solid  var(--ocean);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .check-text a {
    color: var(--accent-color);
    text-decoration: underline;

 }
 .imput-check:checked + .check-text span {
    background: var(--ocean);
    border: none;
    fill: #F4F4FD;
 }
 .imput-check:focus +.check-text span {
    background: var(--ocean);
 }

.modal-send-btn {
    display: block;
    text-align: center;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    margin: 24px auto;
    border: none;
    padding: 16px 32px;
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: beckground-color 250ms cubic-bezer(0.4, 0, 0.2, 1),
                border 250ms cubic-bezer(0.4, 0, 0.2, 1);
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:is(:hover, :focus) {
    background-color: var(--ocean);
}
