:root{
--primary-text-color:#434455;
--title-text--color:#2E2F42;
--accent-color:#4D5AE5;
--beckground-color:#E5E5E5;
--button-text-color:#FFFFFF;
--beckground-color-sektion-team:#F4F4FD;
}



body {
    font-family: Roboto, sans-serif;
    background: var(--button-text-color);
color:var(--primary-text-color);

}
ul {
    list-style:none;
}

/*вторичний цвет color: #434455;  */
/*  белий текст кнопок   color: #FFFFFF; */
/*    кнопка background: #4D5AE5; */
/*цвет заголовков  color: #2E2F42; */
/*  */
 



/* Лого   */
.heder-cont{
    font-style: normal;
}


.logo {
    font-family: "Raleway", sans-serif;

    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--accent-color);
    text-transform:uppercase;;
}
.logo-heder-span{
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight:800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.menu-title {
    color: #2e2f42;
 }
.heder-address {
    list-style: none;
}

.list {
    list-style:none;
}
.link {
    text-decoration:none;
}
/*   Навигация*/
.site-nav .link{
    color:#2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus
{
text-decoration:underline;
color: #404bbf;
}
.heder-address {
    font-style: normal;
}
.site-address {
    color: var(--primary-text-color);

    font-weight: 400;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
}
.site-address .link:hover,
.site-address .link:focus
{
color: #404bbf;
    font-weight: 400;
        font-size: 16px;
        line-height:1.5;
}
/*  Секция герой  */
.hiro-section 
{
background: #2E2F42;
}

.hiro-title {
color:var(--button-text-color);
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.section-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em
}
.visually-hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: var(--button-text-color);
    background-color:var(--accent-color); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
    letter-spacing: 0.04em;
}
.button:hover

{
color:var(--button-text-color);
background:#404BBF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button:focus {
    color: var(--button-text-color);
        background: #404BBF;
}
/*    Наши роботи */

.section-title {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.headlines-title {
    color:#2e2f42;
    text-decoration: none;
    font-weight: 700;
        font-size: 36px;
        text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}
.item-list {
background-color: #FFFFFF;
}
   /*    Наша команда*/

.section-color{
background-color: #F4F4FD;
}
     /*Страница портфолио*/


.partfolio-title {
   color: var(--primary-text-color); 
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}
.portfolio-text {
    color:#2E2F42;
    font-weight: 500;
        font-size: 20px;
        line-height:1.2 ;
        font-style: normal;
        letter-spacing: 0.02em;
}
.button-portf {
    cursor: pointer;
color:var(--accent-color);
background-color:#F4F4FD;
display: flex;
border: none;
outline: none;
font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
}
.button-portf:hover {
color: var(--button-text-color);
background-color:  #404BBF;
    cursor: pointer;
}
.button-portf:focus {
color: var(--button-text-color);
    background-color: #404BBF;
}
.portfolio-img {
text-decoration: none;
}
.portfolio-item {
  list-style: none; 
}
.portfolio-item {
    list-style: none;
}



/*    Футер*/
.footer-color{
background: #2E2F42;
}
.footer-logo{
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        text-decoration: none;
        letter-spacing: 0.03 ;
        text-transform: uppercase ;

}
.footer-title{
    color: #f4f4fd;
    font-weight: 400;
        font-size: 16px;
        line-height:1.5 ;
letter-spacing: 0.02em;
}